@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');



*{
    padding: 0;
    margin: 0;
}

.nav-space{
    height: 60px;
    width: 100%;
}


nav{
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
    background: rgba(0, 0, 0, 0.9);
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
}

.nav-links{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    transition: 0.3s;
    padding: 5px 10px;
}

.nav-links:hover{
    background: white;
    color: black;
    border-radius: 8px;
}

/* ==================== Seciton ====================== */

.sections{
    height: 100vh;
    width: 100%;
}

.section{
    width: 100%;
    height: 100%;
}

/* ======================== Home Section ===================== */

.home{
    background-image: url("./images/back1.jpg");
    background-size: cover;
}

.name{
    font-size: 5vw;
    position: absolute;
    color: white;
    top: 30vh;
    left: 10vw;
    font-family: 'Pacifico', cursive;
    width: 700px;
    line-height: 2.5vw;
}

.name .qoute{
    font-size: 1.8vw;
    
}


/* ===================== About Section ======================== */

.image img{
    height: auto;
    width: 700px;
}

/* .space{
    width: 100px;
    height: 20px;
} */

.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.about-text{
    width: 48%;
}

.about-heading{
    font-size: 2.5vw;
    text-align: center;
}

.about-text .desc{
    font-size: 1.5vw;
    /* width: 85%; */
    text-align: center;
}



/* ======================== Contact Section ====================== */


.contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form{
    width: 30%;
}

.contact-heading{
    text-align: center;
    font-size: 2vw;
}

form{
    font-size: 2rem;
    width: 90%;
}

form input , form textarea{
    width: 100%;
    font-size: 30px;
}

form textarea{
    height: 180px;
}

.feild{
    margin: 15px auto;
}

.submit{
    background: rgb(61, 161, 61);
    color: white;
    height: 50px;
    border-radius: 10px;
}